name: Test `copyfile`

on:
  # Trigger the workflow on push or pull request
  #push:
  pull_request:  # DANGEROUS! MUST be disabled for self-hosted runners!
  # Trigger the workflow by cron. The default time zone of GitHub Actions is UTC.
  schedule:
    - cron: '0 13 * * *'
  # Trigger the workflow manually
  workflow_dispatch:


jobs:
  test:
    name: Test `copyfile`
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-20.04, macos-11, macos-latest, macos-13]
        matlab: [R2020b, R2021a, R2022a, R2023a, R2023b, latest]

        # Exclude some versions of OS and MATLAB.
        exclude:
          - os: macos-latest
            matlab: R2023b
          - os: macos-11
            matlab: R2023b
          - os: macos-13
            matlab: R2023b
          - os: macos-latest
            matlab: latest
          - os: macos-11
            matlab: latest
          - os: macos-13
            matlab: latest



    steps:

      - name: Clone Repository (Latest)
        uses: actions/checkout@v5.0.0
        with:
          ssh-key: ${{ secrets.SSH_PRIVATE_KEY_ACT }} # This forces checkout to use SSH, not HTTPS
          submodules: recursive

      - name: Cache MATLAB  # N.B.: Clear the cache when the `latest` version of MATLAB changes in March and September
        uses: actions/cache@v4.2.4
        with:
          path: ${{ runner.tool_cache }}/MATLAB
          key: ${{ matrix.os }}-${{ matrix.matlab }}-yes

      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v2.1.2
        with:
          release: ${{ matrix.matlab }}

      - name: Conduct the test
        uses: matlab-actions/run-command@v2.1.1
        with:
          command: |
            ver;
            cd('copyfile');
            test_copyfile();
