name: Test MATLAB macOS ARM64

on:
  #push:
  #pull_request:  # DANGEROUS! MUST be disabled for self-hosted runners!
  # Trigger the workflow by cron. The default time zone of GitHub Actions is UTC.
  schedule:
      - cron: '0 2 * * 0'
  # Trigger the workflow when it is manually triggered
  workflow_dispatch:

jobs:
  test:
    name: Test MATLAB on macOS ARM64
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-14]
        matlab: [R2023a, R2023b, R2024a]

    steps:
      - name: Check out repository
        uses: actions/checkout@v4.1.2
        with:
          submodules: recursive

      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v2.2.0
        with:
          release: ${{ matrix.matlab }}
          cache: true

      - name: Run the test
        uses: matlab-actions/run-command@v2.1.1
        with:
          command: |
            ver
            fprintf('\nHello!\n');
