name: Unsuccessful fixes of the crash (expect 12 crashes on Linux and 12 normal errors on Windows)

on:
  # Trigger the workflow on push or pull request
  #push:
  #pull_request:  # DANGEROUS! MUST be disabled for self-hosted runners!
  # Trigger the workflow by cron. The default time zone of GitHub Actions is UTC.
  schedule:
    - cron: '0 18 1 * *'
  # Trigger the workflow when it is manually triggered
  workflow_dispatch:

env:
  MATLAB_RELEASE: latest
  GFORTRAN_VERSION: 10

jobs:
  test:
    name: Fix the crash of MATLAB during MEX setup or mexification (unsuccessful)
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-2019]  # MEX does not work on windows-latest yet
        crash_type: [default, setup, mex]
        crash_indicator : [true, false]
        fix: [no_clean_build_dir_after_copy.m, no_clean_src_dir_after_copy.m, no_clear_mex_after_copy.m, no_rmpath_before_copy.m]
        exclude:
          - crash_type: default
            crash_indicator: false
    steps:
      - name: Check out repository
        uses: actions/checkout@v4.1.1

      - name: Link gfortran for MATLAB on Linux
        if: startsWith(matrix.os, 'ubuntu')
        run: |
          sudo bash .github/scripts/link_gfortran_for_matlab ${{ env.GFORTRAN_VERSION }}
          realpath "$(command -v gfortran)"

      - name: Set up MATLAB
        uses: matlab-actions/setup-matlab@v2-beta
        with:
          release: ${{ env.MATLAB_RELEASE }}

      - name: Run script
        uses: matlab-actions/run-command@v2.0.0
        with:
          command: |
              cd('crash');
              copyfile(fullfile(pwd(), 'fix', '${{ matrix.fix }}'), fullfile(pwd(), 'crash.m'));
              if strcmpi('${{ matrix.crash_type }}', 'default')
                  if ${{ matrix.crash_indicator }}
                      crash;
                  end
              else
                  if ${{ matrix.crash_indicator }}
                      crash('${{ matrix.crash_type }}')
                  else
                      crash('${{ matrix.crash_type }}', false)
                  end
              end
